@import "../../node_modules/normalize.css/normalize.css";
body {
width: 100%;
}

.search-form{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 12px 0;
  background-color: blue;
  position: fixed;
}
